AIRFLOW__WEBSERVER__SECRET_KEY=your-secret-key
DATABASE_URL=postgresql://postgres:postgres@financial_sync_db:5432/financial_sync
API_KEY=your-api-key
AIRFLOW_VAR_AWS_ACCESS_KEY_ID=your-aws-access-key
AIRFLOW_VAR_AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AIRFLOW_VAR_AWS_BUCKET_NAME=your-bucket-name
AIRFLOW_VAR_AWS_REGION=us-east-1
